<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div class="container">
      <!-- message Error -->
      {% if message %}
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        {{message}}
      </div>
      {% endif %}
      
      <!-- success message -->
      {% if success %}
        <div class="w3-panel w3-green">
          <h3>Register Success Full!</h3>
        </div>
      {% endif %}


      <!-- header  -->
      <header>
        <h1>Franklin Running Club</h1>
        {% block button %} {% endblock %}
      </header>

      <main>
        <br />
        <br />
        {% block body %} {% endblock %}
      </main>
    </div>
  </body>
</html>
