<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Franklin Running Club</h1>
      </header>
    
      <main class="clearfix main">
        <h2>Running Tips</h2>
        <div>
          <div class="media">
            <img src="{{ url_for('static',filename='img/runner.png') }}" alt="runner" class="media-image" />
            <div class="media-content">
              <h4>Strength</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                necessitatibus, eius molestiae non autem debitis.
              </p>
            </div>
          </div>
          <div class="media">
            <img src="{{ url_for('static',filename='img/shoes.png') }}" alt="shoes" class="media-image" />
            <div class="media-content">
              <h4>Candence</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                necessitatibus, eius molestiae non autem debitis.
              </p>
            </div>
          </div>
          <div class="media">
            <img src="{{ url_for('static',filename='img/shoes.png') }}" alt="runner" class="media-image" />
            <div class="media-content">
              <h4>Change it up</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                necessitatibus, eius molestiae non autem debitis.
              </p>
            </div>
          </div>
          <div class="media">
            <img src="{{ url_for('static',filename='img/runner.png') }}" alt="shoes" class="media-image" />
            <div class="media-content">
              <h4>Focus on Form</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                necessitatibus, eius molestiae non autem debitis.
              </p>
            </div>
          </div>
          <!-- For float fixes -->
          <div style="clear:both" ></div>
        </div>
      </main>
    </div>
  </body>
</html>
