{% extends 'base.html' %}


<!-- Error Block -->
{% block error %}
    {% if message %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    {% endif %}
{% endblock %}

<!-- Success Block -->
{% block success %}
    {% if success %}
    <div class="alert" style="background-color:green;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ success }}
    </div>
    {% endif %}
{% endblock %}


{% block body %}

    
    <div class="register">

        <h3>SING UP</h3>

        <form action="{{ url_for('singup') }}" method="POST">
            <div class="form">
                <label>Username</label><br>
                <input type="text" name="username" placeholder='Enter your username'>        
            </div>
            
            <div class="form">    
                <label>Password</label><br>
                <input type="password" name="password" placeholder='Enter your Password'>
            </div>
    
            <div class="form">
                <label>Email</label> <br>
                <input type="email" name="email" placeholder='Enter your Email'>
            </div>
            
            <div class="form">
                <input type="checkbox" name="checkbox">
                Remember Me?
            </div>
            <input type="submit" value="SING UP">
        </form>
    </div>
{% endblock %}