{% extends 'base.html' %}

{% block body %}
    <div class="register">

        <h3>SING UP</h3>

        <form action="{{ url_for('singup') }}" method="POST">
            <div class="form">
                <label>Username</label><br>
                <input type="text" name="username" placeholder='Enter your username'>        
            </div>
            
            <div class="form">    
                <label>Password</label><br>
                <input type="password" name="password" placeholder='Enter your Password'>
            </div>
    
            <div class="form">
                <label>Email</label> <br>
                <input type="email" name="email" placeholder='Enter your Email'>
            </div>
            
            <div class="form">
                <input type="checkbox" name="checkbox">
                Remember Me?
            </div>
            <input type="submit" value="SING UP">
        </form>
    </div>
{% endblock %}